.addTodoForm {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.input {
  width: 100%;
  padding: 12px 12px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
}

.submitButton {
  padding: 12px 20px;
  border: 1px solid #4caf50;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}
